*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 1920px;
    width: 100%;
    height: 2500px;
}


/*headeeeeeeer*/



#main_conteiner{
    margin: 166px 147px;
    background: #E4EBFF;
    max-width: 1604px;
    height: 2344px;
    padding: 70px 100px;
}

#main_box{
    width: 1281px;
    width: 100%;
    background: #FFF;
    height: 2152px;
}


#head_div{
    margin-left: 32px;
    margin-right: 32px;
}

#header_title{
    color: #6941C6;
    text-align: center;
    font-weight: 600;
    padding-bottom: 12px;
    padding-top: 96px;
}

#header_h{
    color: #181D27;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 32px;
}

#header_p{
    color: #535862;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 96px;
}


/*maiiiiiiin*/

#share_conteiner{
    height: 500px;
    max-width: 1249px;
    width: 100%;
}

#share_text{
    margin-top: 89px;
      
    width: 537px;
    margin-left: 20px;
    height: 300px;
    display: inline-block;
    vertical-align: middle;
  
    
}

#share_img{
    display: inline-block;
    vertical-align: middle;
     height: 500px;
     width: 450px;

}


#deliver_conteiner{
    height: 537px;
    max-width: 1249px;
    width: 100%;
}


#deliver_text{
    margin-top: 89px;
    padding-left: 50px;
    width: 500px;
    margin-left: 20px;
    height: 300px;
    display: inline-block;
    vertical-align: middle;
}


#deliver_img{
     margin-top: 96px;
     display: inline-block;
     vertical-align: middle;
     height: 500px;
     width: 480px;
}


#manage_conteiner{
    margin-top: 96px;
    height: 500px;
    max-width: 1249px;
    width: 100%;
}


#manage_text{
    padding-left: 20px;
    margin-top: 89px;
    width: 450px;
    margin-right: 50px;
    height: 300px;
    display: inline-block;
    vertical-align: middle;
}


#manage_img{
    margin-top: 96px;
    display: inline-block;
    vertical-align: middle;
    height: 500px;
    width: 500px;
}


#share_icon{
    width: 48px;
    height: 48px;
    padding: 12px;
    margin-bottom: 10px;
    background: #F4EBFF;
    border-radius: 9999px;
}


#share_title{
    color: #181D27;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 16px;
}

#share_p{
    font-size: 18px;
    color: #535862;
    margin-bottom: 32px;

}


#clisck_a{
    color: #535862;
    font-weight: 400;
}


#clisck_b{
    color: #535862;
    font-weight: 400;
}


#clisck_c{
    color: #535862;
    font-weight: 400;
}


#deliver_title{
    margin-top: 10px;
    color: #181D27;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 16px;
}

#deliver_p{
    font-size: 18px;
    color: #535862;
    margin-bottom: 32px;
}

#a-clisck{
    color: #535862;
    font-weight: 400;
}

#b-clisck{
    color: #535862;
    font-weight: 400;
}

#c-clisck{
    color: #535862;
    font-weight: 400;
}


#manage_title{
    margin-top: 10px;
    color: #181D27;
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 16px;
}

#manage_p{
    font-size: 18px;
    color: #535862;
    margin-bottom: 32px;
}

#clisck_aa{
    color: #535862;
    font-weight: 400;
}

#clisck_ab{
    color: #535862;
    font-weight: 400;
}

#clisck_ac{
    color: #535862;
    font-weight: 400;
}










